<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>signup</title>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <form action="/user/signup" method="post">
        <div class="mb-3">
            <label for="fullName" class="form-label">fullName</label>
            <input type="text" class="form-control" id="fullName"  name="fullName" aria-describedby="fullName">
          </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email </label>
          <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="Universitynpm " class="form-label">University</label>
            <input type="text" class="form-control" id="University" name="University" aria-describedby="University">
          </div>
        <div class="mb-3">
            <label for="password" class="form-label">password</label>
            <input type="password" class="form-control" id="password" name="password" aria-describedby="password">
          </div>
       
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    <%- include('./partials/tell.ejs') %>
</body>
</html>